/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/montserrat-v15-latin_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v15-latin_cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 560px;
}

/*.hidden {
  display: none;
}*/

.popup__content {
  width: 70%;
  min-width: 560px;
  
}

.popup__wrapper {
  width: 100%;
  height: 1722px;
  margin-top: -30px;
  left: 0px;
  top: -30px;
  background: rgba(0, 0, 0, 0.42);
  display: none;
  overflow: auto;
}

.popup__body {
  width: 70%;
  min-width: 560px;
  background: #FFFFFF;
  border-radius: 12px;
  margin-top: 53px;
}

.popup__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  size: 28px;
  line-height: 34px;
  color: #0C1014;
  margin: 53px 198px 34px 98px;
}

form {
  height: 1248px;
  width: 754px;
  left: 266px;
  top: 101px;
  border-radius: 12px;
}

form input {
  height: 56px;
  width: 70%;
  left: 0px;
  top: 0px;
  border-radius: 2px;
  margin: 0px 0px 32px 98px;

  background: #FFFFFF;
  border: 1px solid #D6DADE;
  box-sizing: border-box;
  border-radius: 2px;
}

.main-info {
  display: flex;
  justify-content: space-around;
}

.main-info__left {
  flex: 3;
}

.main-info__right {
  flex: 1;
  align-items: center;
}

.main-info__right p {
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
margin-right: 115px;

text-align: center;
}

.form-control {
padding: 32px 32px;
}


.btn-popup {
  width: 557px;
  height: 48px;
  margin-left: 98px;
  margin-bottom: 15px;
  background: #E5266E;
  border-radius: 4px;
  font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

text-align: center;
color: #FFFFFF;
}


.btn-popup:hover {
  border: 1px solid #E5266E;
  background-color: #FFFFFF;
  color: #E5266E;
}

.close_popup {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
color: #0848C0;
text-decoration: none;
}

.close_popup:hover {
  text-decoration: underline;
  color:#0848C0 ;
}

.wrapper_img {
  width: 165px;
  height: 165px;
  background-color: grey;
  /*background-image: url(/img/Ellipse44.png);*/
  border-radius: 80px;
  position: relative;
}

.add-img {
  position: absolute;
  top: 50px;
  left: 60px;
  color: #fff;
  display: none;
}

.wrapper_img:hover .add-img {
  display: block;
}

.wrapper_img:hover {
  box-shadow: rgba(58, 56, 56, 0.83);
}



.add-img:hover {
  opacity: 0.6;
}

input::-webkit-input-placeholder:before {
  content: "* ";
  color: red;
}

input:-moz-placeholder:before {
  content: "* ";
  color: red;  
}

input:-ms-input-placeholder:before {  
  content: "* ";
  color: red;  
}

.close_popup a {
  text-decoration: none;
  color: #4d85ec;
}

.close_popup a:hover {
 opacity: 0.3; 
}

input.icon {
  background: url(/img/vk.png) no-repeat center right;
  padding-left:30px;
}